* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  position: relative;
}

.container {
  max-width: 1202px;
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
  @media (max-width: 767px) {
    width: 100%;
    padding: 0 16px;
  }
}

@mixin btn {
  display: block;
  max-width: 370px;
  width: 100%;
  background: #FF4343;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 26px 0;
  margin: 0 auto;
  @media (max-width: 767px) {
    max-width: 100%;
  }

  &:hover {
    background: #E71414;
    cursor: pointer;
  }

  &:active {
    background: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
    cursor: pointer;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 35px 16px;
  @media (max-width: 767px) {

    padding-top: 0;
    position: absolute;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: '';
      max-width: 1170px;
      width: 100%;
      border-bottom: 1px solid #BABBC5;
      top: 215%;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__logo svg {
    @media (max-width: 767px) {
      width: 103px;
      height: 14px;
    }
  }

  &__svg-wrap {
    display: none;
    @media (max-width: 767px) {
      width: 55px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

.menu {
  @media (max-width: 767px) {
    display: none;
  }

  &__items {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    .menu__item {
      min-width: 134px;
      text-align: center;
      @media (max-width: 917px) {
        min-width: 104px;
      }

      &:hover::before {
        display: block;
        position: absolute;
        content: '';
        max-width: 134px;
        width: 100%;
        border-bottom: 3px solid #BABBC5;
        top: 205%;
      }

      &:active::before {
        display: block;
        position: absolute;
        content: '';
        max-width: 134px;
        width: 100%;
        border-bottom: 3px solid #E71414;
        top: 205%;
      }

      .menu__link {
        font-weight: 700;
        font-size: 13px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;

        &:active {
          color: #E71414;
        }
      }
    }
  }
}

.banner {
  padding: 230px 0 120px;
  background-image: url("../images/banner/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: 767px) {
    padding: 106px 0 52px;
  }

  &::before {
    display: block;
    background: #252B49;
    opacity: 0.8;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  &__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 31px;
    @media (max-width: 767px) {
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 31px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 82px;
    @media (max-width: 767px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 51px;
    }
  }

  &__btn {
    @include btn();
  }
}
